:host {
  max-width: 550px;
  display: block;
  margin: 0 auto;
}
.form-container{
  padding: 40px;
  background: white;
  border-radius: 10px;


  .heading {
    margin-bottom: 45px;
    margin-top: 10px;
    font-size: 48px;
  }


}
